/* =========================================
   HOME
========================================= */

.home {
  width: 100%;
}


/* CENTER */

.home__center {
  width: 100%;
  max-width: 850px;
  margin: 0 auto;
}


/* STORIES */

.home__stories {
  width: 100%;
  margin-bottom: 24px;
}


/* FEED */

.home__feed {
  width: 100%;
}


/* =========================================
   RESPONSIVE
========================================= */

@media (max-width: 768px) {

  .home__center {
    max-width: none;
  }

}